@import url("https://fonts.googleapis.com/icon?family=Material+Icons")
@import "~materialize-css/dist/css/materialize.min.css"

.full-width
  width 100%

.center-content
  display flex
  justify-content center
  align-items center

nav
  background-color: grey
  display: block
  height: 50px

.container
  padding-top: 20px

nav #slide-out
  color: #000